/* EXT CSS FILE LINKED WITH meta1.html */
/*.css   */
li{
    color: saddlebrown;
    font-family: cursive;
}
h2{
    color: brown;
    font-family: cursive;
}
pre{
    font-family: Verdana;
    font-size: 0.85rem;
    color: rgb(20, 2, 73);
}
